---
name: "networkautomaniac-n8n"
services:
  n8n:
    image: "n8nio/n8n"
    container_name: "n8n"
    hostname: "n8n"
    ports:
      - "5678:5678"
    environment:
      - "TZ=${TZ}"
    volumes:
      - "./data:/home/node/.n8n"
    restart: "unless-stopped"
