---
name: "networkautomaniac-n8n"
services:
  n8n:
    image: "n8nio/n8n:latest"
    container_name: "n8n"
    hostname: "n8n"
    ports:
      - "5678:5678"
    environment:
      - "TZ=${TZ}"
      - "N8N_HOST=${N8N_HOST}"
      - "N8N_PROTOCOL=${N8N_PROTOCOL}"
      - "WEBHOOK_URL=${WEBHOOK_URL}"
      - "N8N_EDITOR_BASE_URL=${N8N_EDITOR_BASE_URL}"
      - "N8N_PUSH_BACKEND=${N8N_PUSH_BACKEND}"
      - "N8N_DIAGNOSTICS_ENABLED=${N8N_DIAGNOSTICS_ENABLED}"
      - "N8N_SECURE_COOKIE=${N8N_SECURE_COOKIE}"
      - "N8N_METRICS=${N8N_METRICS}"
      - "N8N_RUNNERS_ENABLED=${N8N_RUNNERS_ENABLED}"
      - "N8N_RUNNERS_MODE=${N8N_RUNNERS_MODE}"
      - "N8N_RUNNERS_BROKER_LISTEN_ADDRESS=${N8N_RUNNERS_BROKER_LISTEN_ADDRESS}"
      - "N8N_RUNNERS_AUTH_TOKEN=${N8N_RUNNERS_AUTH_TOKEN}"
      - "N8N_NATIVE_PYTHON_RUNNER=${N8N_NATIVE_PYTHON_RUNNER}"
    volumes:
      - "./data:/home/node/.n8n"
    restart: "unless-stopped"

  task-runners:
    image: "n8nio/runners:latest"
    container_name: "task-runners"
    hostname: "task-runners"
    environment:
      - "N8N_RUNNERS_TASK_BROKER_URI=${N8N_RUNNERS_TASK_BROKER_URI}"
      - "N8N_RUNNERS_AUTH_TOKEN=${N8N_RUNNERS_AUTH_TOKEN}"
    volumes:
      - "./configs/task-runners/n8n-task-runners.json:/etc/n8n-task-runners.json"
    depends_on:
      - "n8n"
    restart: "unless-stopped"

  cloudflared:
    image: "cloudflare/cloudflared:latest"
    container_name: "cloudflared"
    hostname: "cloudflared"
    environment:
      - "TZ=${TZ}"
    command: "tunnel --no-autoupdate run --token ${CLOUDFLARED_TOKEN}"
    depends_on:
      - "n8n"
    restart: "unless-stopped"
